<section>
    <img src="<%=data.image_url%>" alt="">
    <h3><%= data.title%></h3>
    <h4><%= data.author  %></h4>
    <p><%= data.description  %></p>
    <p>ISBN :<%= data.isbn %></p>
    <p>Bookshelf:<%= data.bookShell %></p>
    <button id="updateBtn">Update Form</button>
    <form action="/books/<%= data.id%>?_method=delete" method="post">
        <button>Delete Form</button>
    </form>


</section>