<section>
    <img src="<%=data.image_url%>" alt="">
    <h3><%= data.title%></h3>
    <h4><%= data.author  %></h4>
    <p><%= data.description  %></p>
    <p>ISBN :<%= data.isbn %></p>
    <p>Bookshelf:<%= data.bookShell %></p>
</section>