    <div class="show container flexCol detailsBook">
        <img src="<%=data.image_url%>" alt="">
        <h3><%= data.title%></h3>
        <h4><%= data.author  %></h4>
        <p><%= data.description  %></p>
        <p>ISBN :<%= data.isbn %></p>
        <p>Bookshelf: <%= data.bookshelf %></p>
        <button id="updateBtn">Update</button>
        <div style="width: 40%;">
            <form action="/books/<%= data.id%>?_method=delete" method="post">
                <button>Delete Book</button>
            </form>
        </div>
        <%- include("edit") %>

    </div>

