<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>



<body>
    <%- include('../../layout/header') %>
    <main>
        <div class="title">
            <p>Search Results</p>
        </div>
        <% data.forEach((data, batata)  =>{ %>
        <form action="/books" method="post">
            <div class="show container flexCol">
                <img src="<%= data.url %>" alt="">
                <h1><%= data.title %></h1>
                <h3><%= data.author %></h3>
                <p><%= data.desc %></p>
                <input type="hidden" value="<%= batata%>" name="key">
                <button>Select This Book</button>
            </div>
        </form>
        <% }) %>
    </main>
    <%- include('../../layout/footer') %>
</body>

</html>