<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
    <%- include('../layout/header') %>
    <main>
        <div class="title">
            <p><strong id="savedBooks"><%= data.length %></strong> Saved Books</p>
        </div>
        <% data.forEach(item =>{ %>
        <div class="show container flexCol">
            <img src="<%= item.image_url %>" alt="">
            <h1> <%= item.title %> </h1>
            <h3><%= item.author %></h3>
            <form class="postForm" action="/books/<%=item.id%>" method="get">
                <button id="detailsButton">View Details</button>
            </form>
        </div>
        <% })%>
    </main>
</body>
<%- include('../layout/footer') %>

</html>