<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
    <%- include('../layout/header') %>
    <main>
        <p>Total books save: <%= data.length%></p>
        <% data.forEach(item =>{ %>
        <img src="<%= item.image_url %>" alt="">
        <h3> <%= item.title %> </h3>
        <h4><%= item.author %></h4>
        <a href="books/<%=item.id%>">View Details</a>
        <% })%>
    </main>
</body>
    <%- include('../layout/footer') %>

</html>